.form-background{
  background-image: linear-gradient(rgb(230, 225, 225),rgb(121, 120, 120),rgb(230, 225, 225));
}

th,td{
  padding: 0 15px;
}
table{
  border-collapse: collapse;
  background-color: rgb(235, 225, 225);
  
}
tr{
  border: 1px solid black;
}
tr:hover{
  background-color: aqua;
}
.card-background{
  width: 100vw;
  height: 80vh;
  background-color: rgba(255, 255,255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.text-color{
  color: rgb(247, 0, 255);
}